/*  
font-family: "Poppins", sans-serif;
font-family: "DM Serif Display", serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root{

    --Ared-shadow: #f23636;
    --Ared-bg: #f55c5c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all .3s ease;
}
body{
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, .3);
}
header .container{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(images/hero-bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .6s linear;
}

/* ======== navbar =========== */

.container .navbar{
    padding: 0px 30px;
    backdrop-filter: blur(10px);
    background: #ffffffcc;
    box-shadow: 3px 3px 5px (rgba(0,0,0,0.3));
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    margin-right: auto;
    width: 150px;
    cursor: pointer;
}
.navbar nav ul{
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar ul li{
    padding: 0 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar ul li a{
    color: #000;
}
.navbar ul li::after{
    content: " ";
    background: #000;
    height: 2px;
    display: block;
    margin: auto;
    transition: all .3s ease;
    width: 0;
}
.navbar ul li:hover:not(:last-child)::after{
    width: 100%;
}
.navbar ul li .cta-btn{
    color: #fff;
    box-shadow: 0 2px 0 0 var(--Ared-shadow);
    padding: 10px 25px;
    border-radius: 5px;
    background-color: var(--Ared-bg);
}
.navbar ul li:hover .cta-btn{
    padding: 15px 25px;
}
.navbar nav ul .fa-bars{
    display: none;
}
.navbar nav .sidebar ul{
    position: absolute;
    top: 0;
    left: -450px;
    transition: all .6s ease;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    background: #fff;
    width: 250px;
    padding-top: 40px;
    transition: all .5s linear;
}
.navbar nav .sidebar ul.action{
    left: 0;
}
.sidebar ul li{
    padding: 15px 40px;
    width: 100%;
}
.sidebar ul li a:hover{
    color: var(--Ared-shadow);
}
.sidebar ul li:hover{
    width: 0%;
}
.sidebar ul .fa-circle-xmark{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    color: var(--Ared-shadow);
    cursor: pointer;
}
.navbar .sidebar ul li .cta-btn{
    width: 100%;
    padding: 10px 15px;
}
.navbar .sidebar ul li:hover{
    width: 100%;
    padding: 10px 20px;
}
.sidebar ul li .cta-btn:hover{
    color: #fff;
}

/* ======== hero page =========== */

.container .hero-box{
    padding-top: 10%;
    padding-left: 5%;
    width: 45%;
}
.hero-box .call-p{
    font-size: 14px;
    font-weight: 700;
    color: rgb(112, 33, 9);
}

.hero-box .hero-heading{
    font-size: 34px;
    font-weight: 900;
    line-height: 37px;
    margin: 9px 0;
    font-family: "DM Serif Display", serif;
    letter-spacing: .8px;
}
.hero-box .hero-desc{
    text-align: justify;
    font-size: 14px;
    color: #111;
    margin-bottom: 30px;
}
.hero-box .btn .cta{
    color: #fff;
    box-shadow: 0 2px 0 0 var(--Ared-shadow);
    padding: 10px 25px;
    border-radius: 5px;
    background-color: var(--Ared-bg);
    font-weight: 600;
}
.hero-box .btn .cta:hover{
    background: transparent;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    color: #111;
}





















/* moblie display */


/* 1024 */
@media (max-width: 1024px){
    header .container {
        background-position: 35%;
    }
    .navbar nav .navbar-links{
        display: none;
    }

    .logo img{
        width: 120px;
    }
    .navbar nav ul .fa-bars{
        font-size: 30px;
        cursor: pointer;
        display: block;
    }
    /* ========hero page========*/
    .container .hero-box{
        padding-top: 10%;
        padding-left:10%;
        width: 50%;
    }
    .hero-box .call-p{
        font-size: 15px;
    }
    .hero-box .hero-heading{
        font-size: 40px;
        line-height: 40px;
        margin: 17px 0;
    }
    .hero-box .hero-desc{
        width: 65%;
        margin-bottom: 60px;
        font-size: 17x;
    }
}


/* 770 */
@media (max-width: 770px){
    header .container {
        background-position: 20%;
    }
    .navbar nav .navbar-links{
        display: none;
    }

    .logo img{
        width: 120px;
    }
    .navbar nav ul .fa-bars{
        font-size: 30px;
        cursor: pointer;
        display: block;
    }
    /* ========hero page========*/
    .container .hero-box{
        padding-top: 10%;
        padding-left:10%;
        width: 60%;
    }
    .hero-box .call-p{
        font-size: 13px;
    }
    .hero-box .hero-heading{
        font-size: 30px;
        line-height: 30px;
        margin: 17px 0;
    }
    .hero-box .hero-desc{
        width: 70%;
        margin-bottom: 60px;
        font-size: 17x;
    }
}

/* 667 */
@media (max-width: 667px){
    header .container {
        background-position: center;
    }
    .navbar nav .navbar-links{
        display: none;
    }

    .logo img{
        width: 120px;
    }
    .navbar nav ul .fa-bars{
        font-size: 30px;
        cursor: pointer;
        display: block;
    }
    /* ========hero page========*/
    .container .hero-box{
        padding-top: 5%;
        padding-left:10%;
        width: 50%;
    }
    .hero-box .call-p{
        font-size: 13px;
    }
    .hero-box .hero-heading{
        font-size: 25px;
        line-height: 25px;
        margin: 14px 0;
    }
    .hero-box .hero-desc{
        width: 70%;
        margin-bottom: 20px;
        font-size: 12px;
    }
}


/* 540px */
@media (max-width: 540px){
    header .container {
        background-position: 17%;
    }
    
}


    /* 430px */
@media (max-width: 430px){
        header .container {
            background-position: 35%;
        }
        .navbar nav .sidebar ul{
            width: 100%;
        }
        /* ========hero page========*/
        .container .hero-box{
            padding-top: 20%;
            padding-left:10%;
            width: 90%;
        }
        .hero-box .call-p{
            font-size: 13px;
        }
        .hero-box .hero-heading{
            font-size: 40px;
            line-height: 40px;
            margin: 17px 0;
        }
        .hero-box .hero-desc{
            width: 70%;
            margin-bottom: 60px;
            font-size: 17x;
        }
        
        }


        /* 414px */
        @media (max-width: 414px){
            header .container {
                background-position: 35%;
            }
            /* ========hero page========*/
        .container .hero-box{
            padding-top: 20%;
            padding-left:10%;
            width: 90%;
        }
        .hero-box .call-p{
            font-size: 13px;
        }
        .hero-box .hero-heading{
            font-size: 40px;
            line-height: 40px;
            margin: 20px 0;
        }
        .hero-box .hero-desc{
            width: 70%;
            margin-bottom: 60px;
            font-size: 17px;
        }
        
    }




/* 390px */
@media (max-width: 390px){
        header .container {
            background-position: 35%;
        }
        /* ========hero page========*/
        .container .hero-box{
            padding-top: 20%;
            padding-left:10%;
            width: 90%;
        }
        .hero-box .call-p{
            font-size: 13px;
        }
        .hero-box .hero-heading{
            font-size: 40px;
            line-height: 40px;
            margin: 20px 0;
        }
        .hero-box .hero-desc{
            width: 70%;
            margin-bottom: 60px;
            font-size: 15px;
        }
    }



/* 375px */
@media (max-width: 375px){
    header .container {
    background-position: 30%;
    }
    .navbar nav .sidebar ul{
        width: 100%;
    }
    /* ======== hero page =========== */
    .container .hero-box{
        padding-top: 20%;
        padding-left:10%;
        width: 80%;
    }
    .hero-box .call-p{
        font-size: 13px;
    }
    .hero-box .hero-heading{
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 9px;
    }
    .hero-box .hero-desc{
        margin-bottom: 40px;
        font-size: 13px;
    }
}




/* 360px */
@media (max-width: 360px){
    header .container {
        background-position: 30%;
    }
/* ======== hero page =========== */
    .container .hero-box{
        padding-top: 20%;
        padding-left:10%;
        width: 80%;
    }
    .hero-box .call-p{
        font-size: 13px;
    }
    .hero-box .hero-heading{
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 9px;
    }
    .hero-box .hero-desc{
        margin-bottom: 40px;
        font-size: 13px;
    }
}

/* 280px */
@media (max-width: 280px){
    header .container {
        background-position: 35%;
    }
    .hero-box .btn .cta{
        padding: 10px;
    }
/* ======== hero page =========== */
    .container .hero-box{
        padding-top: 20%;
        padding-left:10%;
        width: 80%;
    }
    .hero-box .call-p{
        font-size: 13px;
    }
    .hero-box .hero-heading{
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 9px;
    }
    .hero-box .hero-desc{
        margin-bottom: 40px;
        font-size: 13px;
    }
}