/*  
font-family: "Poppins", sans-serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --Ared-shadow: #f23636;
    --Ared-bg: #f55c5c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all .3s ease;
}
body{
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, .3);
}
header .container{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url(images/hero-bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container .navbar{
    padding: 0px 30px;
    backdrop-filter: blur(10px);
    background: #ffffffcc;
    box-shadow: 3px 3px 5px (rgba(0,0,0,0.3));
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    margin-right: auto;
    width: 150px;
    cursor: pointer;
}
.navbar nav ul{
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar ul li{
    padding: 0 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar ul li a{
    color: #000;
}
.navbar ul li::after{
    content: " ";
    background: #000;
    height: 2px;
    display: block;
    margin: auto;
    transition: all .3s ease;
    width: 0;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul li .cta-btn{
    color: #fff;
    box-shadow: 0 2px 0 0 var(--Ared-shadow);
    padding: 10px 25px;
    border-radius: 5px;
    background-color: var(--Ared-bg);
}
.navbar ul li:hover .cta-btn{
    padding: 15px 25px;
}
.navbar nav ul .fa-bars{
    display: none;
}
.navbar nav .sidebar{
    display: none;
}

/* moblie display */
/* 930 */
@media (max-width: 930px){
    .navbar ul li .cta-btn{
        padding: 6px;
    }
    .navbar ul li:hover .cta-btn{
        color: #000;
        padding: 6px;
    }
}


/* 800 */
@media (max-width: 870px){
    .navbar nav .navbar-links{
        display: none;
    }
    .navbar nav .sidebar{
        display: none;
    }
    .logo img{
        width: 120px;
    }
    .navbar nav ul .fa-bars{
        font-size: 30px;
        cursor: pointer;
        display: block;
    }
}